<!DOCTYPE html>
<html>
	<head>
		<title>Inicio</title>
		<% include ./head %>
	</head>
	<body>
		<header>
		<% include ./header %>
		</header>
		<main>
			<h1>¡Bienvenido!</h1>
		</main>
		<% include ./footer %>
	</body>
</html>
