<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<% include ./head %>
	</head>
	<body>
		<header>
		<% include ./header %>
		</header>
		<main>
		<h1>Welcome!</h1>
		</main>
		<% include ./footer %>
	</body>
</html>
